<head>
    {% load static %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'cal/css/style.css' %}">
</head>
<header>
    <nav>
        <ul>
            <li><a href="{% url 'sign_out' %}">Logout</a></li>
            <li><a href="{% url 'home' %}">home</a></li>
            <li><a href="{% url 'event_create' %}">Create event</a></li>
        </ul>
    </nav>
</header>
{% block content %}
<div  style="text-align: center;">
  <h1 class="text-3xl font-bold mb-4">All Events</h1>
  <ul>
    {% for event in object_list %}
      <li>
        <a href="{% url 'event_detail' event.pk %}">
          {{ event.title }} ({{ event.start_time|date:'m-d-Y ' }}-{{ event.start_time|date:' h:i' }} - {{ event.end_time|date:' h:i' }})
        </a>
      </li>
    {% empty %}
      <li>No events found.</li>
    {% endfor %}
  </ul>
</div>
  </div>
{% endblock %}